USE [master]
GO
/****** Object:  Database [WeaveDB]    Script Date: 2/11/2025 12:05:12 ******/
CREATE DATABASE [WeaveDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeaveDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.OMEGA2023\MSSQL\DATA\WeaveDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeaveDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.OMEGA2023\MSSQL\DATA\WeaveDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeaveDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeaveDB]
GO
/****** Object:  Schema [Catalogo]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Catalogo]
GO
/****** Object:  Schema [Datos]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Datos]
GO
/****** Object:  Schema [Documento]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Documento]
GO
/****** Object:  Schema [Gobernanza]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Gobernanza]
GO
/****** Object:  Schema [Identidad]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Identidad]
GO
/****** Object:  Schema [Organizacion]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Organizacion]
GO
/****** Object:  Schema [Proceso]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Proceso]
GO
/****** Object:  Schema [Sistema]    Script Date: 2/11/2025 12:05:12 ******/
CREATE SCHEMA [Sistema]
GO
/****** Object:  Table [Catalogo].[Estados]    Script Date: 2/11/2025 12:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Estados](
	[EstadoId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](50) NOT NULL,
	[DescripcionEstado] [nvarchar](200) NULL,
	[ColorEstado] [nvarchar](7) NULL,
	[EstadoEstado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[FamiliaSistema]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[FamiliaSistema](
	[FamiliaSistemaId] [bigint] IDENTITY(1,1) NOT NULL,
	[FamiliaSistemaCodigo] [varchar](50) NOT NULL,
	[FamiliaSistemaNombre] [varchar](100) NOT NULL,
	[FamiliaSistemaDescripcion] [varchar](500) NULL,
 CONSTRAINT [PK_FamiliaSistema] PRIMARY KEY CLUSTERED 
(
	[FamiliaSistemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_FamiliaSistema_Codigo] UNIQUE NONCLUSTERED 
(
	[FamiliaSistemaCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[GobernanzaEntidad]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[GobernanzaEntidad](
	[GobernanzaEntidadId] [bigint] IDENTITY(1,1) NOT NULL,
	[GobernanzaId] [bigint] NOT NULL,
	[EntidadId] [bigint] NOT NULL,
	[TipoEntidad] [varchar](50) NOT NULL,
	[FechaAsociacion] [datetime2](3) NOT NULL,
	[FechaDesasociacion] [datetime2](3) NULL,
	[Observaciones] [varchar](1000) NULL,
	[EsActiva] [bit] NULL,
 CONSTRAINT [PK_GobernanzaEntidad] PRIMARY KEY CLUSTERED 
(
	[GobernanzaEntidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_GobernanzaEntidad_Gobernanza_Entidad] UNIQUE NONCLUSTERED 
(
	[GobernanzaId] ASC,
	[EntidadId] ASC,
	[TipoEntidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[NivelConfidencialidad]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[NivelConfidencialidad](
	[NivelConfidencialidadId] [bigint] IDENTITY(1,1) NOT NULL,
	[CodigoNivel] [varchar](50) NOT NULL,
	[NombreNivel] [varchar](100) NOT NULL,
	[DescripcionNivel] [varchar](500) NULL,
	[OrdenJerarquico] [int] NOT NULL,
 CONSTRAINT [PK_NivelConfidencialidad] PRIMARY KEY CLUSTERED 
(
	[NivelConfidencialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NivelConfidencialidad_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[PlanesSuscripcion]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[PlanesSuscripcion](
	[PlanId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombrePlan] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[LimiteUsuarios] [int] NOT NULL,
	[DuracionDias] [int] NOT NULL,
	[Precio] [decimal](18, 2) NULL,
	[TipoPlan] [nvarchar](20) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK__PlanesSu__755C22B72FC31845] PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[Prioridades]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Prioridades](
	[PrioridadId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombrePrioridad] [nvarchar](20) NOT NULL,
	[DescripcionPrioridad] [nvarchar](100) NULL,
	[NivelPrioridad] [int] NOT NULL,
	[ColorPrioridad] [nvarchar](7) NULL,
	[EstadoPrioridad] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrioridadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[RolGobernanza]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[RolGobernanza](
	[RolGobernanzaId] [bigint] IDENTITY(1,1) NOT NULL,
	[RolGobernanzaCodigo] [varchar](50) NOT NULL,
	[RolGobernanzaNombre] [varchar](100) NOT NULL,
	[RolGobernanzaDescripcion] [varchar](500) NULL,
	[Nivel] [int] NOT NULL,
	[Color] [varchar](20) NULL,
 CONSTRAINT [PK_RolGobernanza] PRIMARY KEY CLUSTERED 
(
	[RolGobernanzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TipoDato]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TipoDato](
	[TipoDatoId] [bigint] IDENTITY(1,1) NOT NULL,
	[CodigoTipoDato] [varchar](50) NOT NULL,
	[NombreTipoDato] [varchar](100) NOT NULL,
	[DescripcionTipoDato] [varchar](500) NULL,
 CONSTRAINT [PK_TipoDato] PRIMARY KEY CLUSTERED 
(
	[TipoDatoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TipoDato_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoTipoDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TipoDominio]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TipoDominio](
	[TipoDominioId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoDominioCodigo] [varchar](50) NULL,
	[TipoDominioNombre] [varchar](100) NULL,
	[TipoDominioDescripcion] [varchar](500) NULL,
 CONSTRAINT [PK_TipoDominio] PRIMARY KEY CLUSTERED 
(
	[TipoDominioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TipoEntidad]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TipoEntidad](
	[TipoEntidadId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoEntidadCodigo] [varchar](50) NOT NULL,
	[TipoEntidadNombre] [varchar](100) NOT NULL,
	[TipoEntidadDescripcion] [varchar](500) NULL,
 CONSTRAINT [PK_TipoEntidad] PRIMARY KEY CLUSTERED 
(
	[TipoEntidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TipoEntidad_Codigo] UNIQUE NONCLUSTERED 
(
	[TipoEntidadCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TipoGobierno]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TipoGobierno](
	[TipoGobiernoId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoGobiernoCodigo] [varchar](50) NOT NULL,
	[TipoGobiernoNombre] [varchar](100) NOT NULL,
	[TipoGobiernoDescripcion] [varchar](500) NULL,
 CONSTRAINT [PK_TipoGobierno] PRIMARY KEY CLUSTERED 
(
	[TipoGobiernoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TipoGobierno_Codigo] UNIQUE NONCLUSTERED 
(
	[TipoGobiernoCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TiposDocumentos]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TiposDocumentos](
	[TipoDocumentoId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreTipoDocumento] [nvarchar](50) NOT NULL,
	[DescripcionTipoDocumento] [nvarchar](200) NULL,
	[ExtensionesPermitidas] [nvarchar](100) NULL,
	[TamanoMaximoMB] [int] NULL,
	[EstadoTipoDocumento] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoDocumentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TipoSistema]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TipoSistema](
	[TipoSistemaId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoSistemaCodigo] [varchar](50) NOT NULL,
	[TipoSistemaNombre] [varchar](100) NOT NULL,
	[TipoSistemaDescripcion] [varchar](500) NULL,
 CONSTRAINT [PK_TipoSistema] PRIMARY KEY CLUSTERED 
(
	[TipoSistemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TipoSistema_Codigo] UNIQUE NONCLUSTERED 
(
	[TipoSistemaCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[TiposProcesos]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[TiposProcesos](
	[TipoProcesoId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[NombreTipoProceso] [nvarchar](100) NOT NULL,
	[DescripcionTipoProceso] [nvarchar](500) NULL,
	[Nivel] [int] NOT NULL,
	[EstadoTipoProceso] [bit] NOT NULL,
 CONSTRAINT [PK__TiposPro__24199319D0BD15FB] PRIMARY KEY CLUSTERED 
(
	[TipoProcesoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogo].[Ubigeo]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Ubigeo](
	[UbigeoId] [bigint] IDENTITY(1,1) NOT NULL,
	[UbigeoPadreId] [bigint] NULL,
	[IdNivel] [int] NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[CodigoCompleto] [varchar](20) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[NombreCorto] [varchar](100) NULL,
 CONSTRAINT [PK_Ubigeo] PRIMARY KEY CLUSTERED 
(
	[UbigeoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Datos].[ActivoData]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Datos].[ActivoData](
	[ActivoDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[DominioDataId] [bigint] NOT NULL,
	[SubDominioDataId] [bigint] NOT NULL,
	[CodigoActivo] [varchar](50) NULL,
	[NombreActivo] [varchar](200) NOT NULL,
	[DescripcionActivo] [varchar](1000) NULL,
	[TipoDatoId] [bigint] NOT NULL,
	[EsDatoSensible] [bit] NOT NULL,
	[NivelConfidencialidadId] [bigint] NOT NULL,
	[FormatoEstandar] [varchar](100) NULL,
	[LongitudMaxima] [int] NULL,
	[EsObligatorio] [bit] NOT NULL,
	[PermiteNulos] [bit] NOT NULL,
	[ValoresPosibles] [varchar](1000) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_ActivoData] PRIMARY KEY CLUSTERED 
(
	[ActivoDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ActivoData_Codigo_SubDominio] UNIQUE NONCLUSTERED 
(
	[SubDominioDataId] ASC,
	[CodigoActivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Datos].[DominioData]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Datos].[DominioData](
	[DominioDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[DominioPadreId] [bigint] NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[TipoDominioId] [bigint] NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
	[TieneGobernanzaPropia] [bit] NOT NULL,
	[Nivel] [int] NOT NULL,
	[RutaJerarquica] [varchar](500) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_DominioDataNew] PRIMARY KEY CLUSTERED 
(
	[DominioDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_DominioDataNew_Codigo_Org] UNIQUE NONCLUSTERED 
(
	[OrganizacionId] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Documento].[Documentos]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Documento].[Documentos](
	[DocumentoId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[NombreDocumento] [nvarchar](255) NOT NULL,
	[NombreArchivoOriginal] [nvarchar](255) NOT NULL,
	[RutaArchivo] [nvarchar](max) NOT NULL,
	[TamanoArchivo] [bigint] NULL,
	[TipoDocumentoId] [bigint] NOT NULL,
	[DescripcionDocumento] [nvarchar](500) NULL,
	[CarpetaId] [bigint] NOT NULL,
	[MiniaturaBase64] [nvarchar](max) NULL,
	[MiniaturaMimeType] [nvarchar](100) NULL,
	[MiniaturaAncho] [int] NULL,
	[MiniaturaAlto] [int] NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK__Document__5DDBFC76BB271726] PRIMARY KEY CLUSTERED 
(
	[DocumentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Documento].[DocumentosCarpetas]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Documento].[DocumentosCarpetas](
	[CarpetaId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[NombreCarpeta] [nvarchar](255) NOT NULL,
	[CarpetaPadreId] [bigint] NULL,
	[CarpetaPrivada] [bit] NOT NULL,
	[Version] [int] NULL,
	[Estado] [bit] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_DocumentosCarpetas] PRIMARY KEY CLUSTERED 
(
	[CarpetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[EntidadesRelacionadas]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[EntidadesRelacionadas](
	[EntidadesRelacionadasId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoEntidadId] [bigint] NOT NULL,
	[EntidadId] [bigint] NOT NULL,
	[TipoEntidadRelacionadaId] [bigint] NOT NULL,
	[EntidadRelacionadaId] [bigint] NOT NULL,
 CONSTRAINT [PK_EntidadesRelacionadas] PRIMARY KEY CLUSTERED 
(
	[EntidadesRelacionadasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[Gobernanza]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[Gobernanza](
	[GobernanzaId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoFlujo] [varchar](20) NOT NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[Nombre] [varchar](500) NULL,
	[TipoGobiernoId] [bigint] NOT NULL,
	[TipoEntidadId] [bigint] NOT NULL,
	[FechaAsignacion] [datetime2](3) NOT NULL,
	[FechaVencimiento] [datetime2](3) NULL,
	[Observaciones] [varchar](1000) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Gobernanza] PRIMARY KEY CLUSTERED 
(
	[GobernanzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[GobernanzaRol]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[GobernanzaRol](
	[GobernanzaRolId] [bigint] IDENTITY(1,1) NOT NULL,
	[GobernanzaId] [bigint] NOT NULL,
	[RolGobernanzaId] [bigint] NOT NULL,
	[UsuarioId] [bigint] NOT NULL,
	[OrdenEjecucion] [int] NOT NULL,
	[PuedeEditar] [bit] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[Estado] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[CreadoPor] [varchar](100) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[ActualizadoPor] [varchar](100) NULL,
	[FechaActualizacion] [datetime] NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_GobernanzaRol] PRIMARY KEY CLUSTERED 
(
	[GobernanzaRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_GobernanzaRol_Unico] UNIQUE NONCLUSTERED 
(
	[GobernanzaId] ASC,
	[RolGobernanzaId] ASC,
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[GobernanzaWorkflow]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[GobernanzaWorkflow](
	[GobernanzaWorkflowId] [bigint] IDENTITY(1,1) NOT NULL,
	[GobernanzaId] [bigint] NOT NULL,
	[EntidadId] [bigint] NOT NULL,
	[AccionWork] [varchar](500) NULL,
	[EstadoWorkflow] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](7) NULL,
 CONSTRAINT [PK_GobernanzaWorkflow] PRIMARY KEY CLUSTERED 
(
	[GobernanzaWorkflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[GobernanzaWorkflowEjecucion]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[GobernanzaWorkflowEjecucion](
	[WorkflowEjecucionId] [bigint] IDENTITY(1,1) NOT NULL,
	[GobernanzaWorkflowId] [bigint] NOT NULL,
	[RolActualId] [bigint] NOT NULL,
	[UsuarioActualId] [bigint] NOT NULL,
	[RolSiguienteId] [bigint] NULL,
	[UsuarioSiguienteId] [bigint] NULL,
	[EstadoTarea] [int] NOT NULL,
	[MotivoRechazo] [varchar](500) NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaInicioTarea] [datetime2](7) NOT NULL,
	[FechaCompletado] [datetime2](7) NULL,
	[WorkflowGrupoId] [bigint] NULL,
 CONSTRAINT [PK_GobernanzaWorkflowEjecucion] PRIMARY KEY CLUSTERED 
(
	[WorkflowEjecucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[GobernanzaWorkflowGrupo]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[GobernanzaWorkflowGrupo](
	[WorkflowGrupoId] [bigint] IDENTITY(1,1) NOT NULL,
	[GobernanzaWorkflowId] [bigint] NOT NULL,
	[OrdenEjecucion] [int] NOT NULL,
	[TotalUsuarios] [int] NOT NULL,
	[UsuariosCompletados] [int] NOT NULL,
	[EstadoGrupo] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaCompletado] [datetime2](7) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](7) NULL,
 CONSTRAINT [PK_GobernanzaWorkflowGrupo] PRIMARY KEY CLUSTERED 
(
	[WorkflowGrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_GobernanzaWorkflowGrupo_Unico] UNIQUE NONCLUSTERED 
(
	[GobernanzaWorkflowId] ASC,
	[OrdenEjecucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[HistorialGobernanza]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[HistorialGobernanza](
	[HistorialGobernanzaId] [bigint] IDENTITY(1,1) NOT NULL,
	[GobernanzaId] [bigint] NOT NULL,
	[UsuarioAnterior] [bigint] NULL,
	[UsuarioNuevo] [bigint] NULL,
	[FechaInicio] [datetime2](3) NOT NULL,
	[FechaFin] [datetime2](3) NULL,
	[MotivoTransferencia] [varchar](500) NULL,
	[TipoMovimiento] [varchar](50) NOT NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_HistorialGobernanza] PRIMARY KEY CLUSTERED 
(
	[HistorialGobernanzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[NotificacionGobernanza]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[NotificacionGobernanza](
	[NotificacionGobernanzaId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkflowEjecucionId] [bigint] NOT NULL,
	[TipoNotificacion] [int] NOT NULL,
	[FechaEnvio] [datetime2](3) NOT NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_NotificacionGobernanza] PRIMARY KEY CLUSTERED 
(
	[NotificacionGobernanzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gobernanza].[ReglaGobernanza]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gobernanza].[ReglaGobernanza](
	[ReglaGobernanzaId] [bigint] IDENTITY(1,1) NOT NULL,
	[RolGobernanzaId] [bigint] NOT NULL,
	[MaximoUsuarios] [int] NOT NULL,
	[MinimoUsuarios] [int] NOT NULL,
	[EsObligatorio] [bit] NOT NULL,
	[DiasAlertaVencimiento] [int] NULL,
	[ConfiguracionJson] [varchar](max) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_ReglaGobernanza] PRIMARY KEY CLUSTERED 
(
	[ReglaGobernanzaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[EmailActionToken]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[EmailActionToken](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](128) NOT NULL,
	[InstanciaWorkflowId] [bigint] NOT NULL,
	[UsuarioId] [bigint] NOT NULL,
	[TipoAccion] [nvarchar](20) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaExpiracion] [datetime2](7) NOT NULL,
	[Utilizado] [bit] NOT NULL,
	[FechaUtilizacion] [datetime2](7) NULL,
	[IpUtilizacion] [nvarchar](45) NULL,
	[UserAgentUtilizacion] [nvarchar](500) NULL,
	[ResultadoAccion] [nvarchar](100) NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [nvarchar](50) NULL,
	[FechaCreacion_Base] [datetime2](7) NOT NULL,
	[ActualizadoPor] [nvarchar](50) NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[Version] [int] NOT NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_EmailActionToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[Menu]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[Menu](
	[MenuId] [bigint] IDENTITY(1,1) NOT NULL,
	[MenuPadreId] [bigint] NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Ruta] [nvarchar](500) NULL,
	[TipoIcono] [nvarchar](100) NULL,
	[Icono] [nvarchar](100) NULL,
	[Clase] [nvarchar](100) NULL,
	[EsTituloGrupo] [bit] NULL,
	[Badge] [nvarchar](50) NULL,
	[BadgeClase] [nvarchar](100) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[MenuPerfil]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[MenuPerfil](
	[MenuPerfilId] [bigint] IDENTITY(1,1) NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[PerfilId] [bigint] NOT NULL,
	[AccesoId] [int] NULL,
 CONSTRAINT [PK_MenuPerfil] PRIMARY KEY CLUSTERED 
(
	[MenuPerfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[Perfiles]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[Perfiles](
	[PerfilId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[PerfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[Personas]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[Personas](
	[PersonaId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NULL,
	[SedeId] [bigint] NULL,
	[TipoDoc] [int] NULL,
	[NroDoc] [varchar](50) NULL,
	[CodEmpleado] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](100) NOT NULL,
	[ApellidoMaterno] [varchar](100) NULL,
	[Nombres] [varchar](150) NOT NULL,
	[FotoUrl] [varchar](max) NULL,
	[EstadoLaboral] [int] NOT NULL,
	[FechaNacimiento] [date] NULL,
	[FechaIngreso] [date] NULL,
	[EmailPersonal] [varchar](200) NULL,
	[Celular] [varchar](50) NULL,
	[Direccion] [varchar](250) NULL,
	[Ubigeo] [varchar](100) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[RecuperacionContrasena]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[RecuperacionContrasena](
	[RecuperacionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [bigint] NOT NULL,
	[CodigoRecuperacion] [varchar](8) NOT NULL,
	[FechaGeneracion] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[VecesCambioContrasena] [int] NOT NULL,
	[FechaUltimoCambio] [datetime] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__Recupera__32BA9F637AD9C283] PRIMARY KEY CLUSTERED 
(
	[RecuperacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Identidad].[Usuarios]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identidad].[Usuarios](
	[UsuarioId] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoUsuarioId] [int] NULL,
	[PersonaId] [bigint] NULL,
	[PerfilId] [bigint] NULL,
	[NombreUsuario] [varchar](150) NOT NULL,
	[HashPassword] [varchar](max) NOT NULL,
	[FechaExpiracion] [date] NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[Organizaciones]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[Organizaciones](
	[OrganizacionId] [bigint] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[RazonSocial] [varchar](300) NOT NULL,
	[NombreComercial] [varchar](200) NULL,
	[TipoDocumento] [int] NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Sector] [int] NULL,
	[Industria] [int] NULL,
	[Pais] [bigint] NULL,
	[Departamento] [bigint] NULL,
	[Provincia] [bigint] NULL,
	[Distrito] [bigint] NULL,
	[Direccion] [varchar](500) NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](200) NULL,
	[PaginaWeb] [varchar](300) NULL,
	[Mision] [varchar](max) NULL,
	[Vision] [varchar](max) NULL,
	[ValoresCorporativos] [varchar](max) NULL,
	[FechaConstitucion] [date] NULL,
	[FechaInicioOperaciones] [date] NULL,
	[LogoUrl] [varchar](300) NULL,
	[ColorPrimario] [varchar](10) NULL,
	[ColorSecundario] [varchar](10) NULL,
	[SuscripcionActualId] [bigint] NULL,
	[EstadoLicencia] [int] NULL,
	[Instancia] [varchar](300) NULL,
	[Dominio] [varchar](300) NULL,
	[TenantId] [varchar](50) NULL,
	[ClientId] [varchar](50) NULL,
	[ClientSecret] [varchar](50) NULL,
	[CallbackPath] [varchar](150) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Organizaciones] PRIMARY KEY CLUSTERED 
(
	[OrganizacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[OrganizacionFamiliaSistema]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[OrganizacionFamiliaSistema](
	[OrganizacionId] [bigint] NOT NULL,
	[FamiliaSistemaId] [bigint] NOT NULL,
 CONSTRAINT [PK_OrganizacionFamiliaSistema] PRIMARY KEY CLUSTERED 
(
	[OrganizacionId] ASC,
	[FamiliaSistemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[PersonaPosicion]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[PersonaPosicion](
	[PersonaId] [bigint] NOT NULL,
	[PosicionId] [bigint] NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[Posiciones]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[Posiciones](
	[PosicionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UnidadesOrgId] [bigint] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Categoria] [int] NULL,
	[Objetivo] [varchar](max) NULL,
	[OrdenImpresion] [int] NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Posiciones] PRIMARY KEY CLUSTERED 
(
	[PosicionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[Sedes]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[Sedes](
	[SedeId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NULL,
	[Nombre] [varchar](250) NULL,
	[Descripcion] [varchar](450) NULL,
	[Ubigeo] [varchar](450) NULL,
 CONSTRAINT [PK_Sedes] PRIMARY KEY CLUSTERED 
(
	[SedeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[SuscripcionesOrganizacion]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[SuscripcionesOrganizacion](
	[SuscripcionId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[PlanId] [bigint] NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NOT NULL,
	[LimiteUsuarios] [int] NOT NULL,
	[EsDemo] [bit] NULL,
	[TipoOperacion] [int] NULL,
	[EstadoSuscripcion] [int] NULL,
	[SuscripcionAnteriorId] [bigint] NULL,
	[MotivoOperacion] [nvarchar](500) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK__Suscripc__814D76AB29D5253F] PRIMARY KEY CLUSTERED 
(
	[SuscripcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Organizacion].[UnidadesOrg]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacion].[UnidadesOrg](
	[UnidadesOrgId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NULL,
	[SedeId] [bigint] NULL,
	[UnidadPadreId] [bigint] NULL,
	[TipoUnidad] [int] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[NombreCorto] [varchar](100) NULL,
	[Objetivo] [varchar](max) NULL,
	[PosicionCategoria] [int] NULL,
	[CentroCosto] [varchar](100) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_UnidadesOrg] PRIMARY KEY CLUSTERED 
(
	[UnidadesOrgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Proceso].[DocumentosProcesos]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proceso].[DocumentosProcesos](
	[DocumentoProcesoId] [bigint] IDENTITY(1,1) NOT NULL,
	[DocumentoId] [bigint] NOT NULL,
	[MacroprocesoId] [bigint] NULL,
	[ProcesoId] [bigint] NULL,
	[SubprocesoId] [bigint] NULL,
	[TareaId] [bigint] NULL,
	[ObservacionesDocumento] [nvarchar](500) NULL,
	[EsObligatorio] [bit] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoProcesoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Proceso].[Procesos]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proceso].[Procesos](
	[ProcesoId] [bigint] IDENTITY(1,1) NOT NULL,
	[PadreId] [bigint] NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[TipoProcesoId] [bigint] NOT NULL,
	[CodigoProceso] [nvarchar](50) NOT NULL,
	[NombreProceso] [nvarchar](200) NOT NULL,
	[DescripcionProceso] [nvarchar](1000) NULL,
	[VersionProceso] [nvarchar](20) NULL,
	[Nivel] [int] NOT NULL,
	[RutaJerarquica] [nvarchar](500) NULL,
	[OrdenProceso] [int] NULL,
	[EstadoId] [bigint] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[RegistroEliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcesoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Procesos_Codigo_Organizacion] UNIQUE NONCLUSTERED 
(
	[CodigoProceso] ASC,
	[OrganizacionId] ASC,
	[RegistroEliminado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Proceso].[Tareas]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proceso].[Tareas](
	[TareaId] [bigint] IDENTITY(1,1) NOT NULL,
	[MacroprocesoId] [bigint] NULL,
	[ProcesoId] [bigint] NULL,
	[SubprocesoId] [bigint] NULL,
	[CodigoTarea] [nvarchar](25) NOT NULL,
	[NombreTarea] [nvarchar](100) NOT NULL,
	[DescripcionTarea] [nvarchar](1000) NULL,
	[InstruccionesTarea] [nvarchar](max) NULL,
	[VersionTarea] [nvarchar](10) NULL,
	[TiempoEstimadoMinutos] [int] NULL,
	[PrioridadId] [bigint] NOT NULL,
	[EstadoId] [bigint] NOT NULL,
	[OrdenTarea] [int] NULL,
	[EsObligatoria] [bit] NOT NULL,
	[RequiereAprobacion] [bit] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TareaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Sistema].[Servidores]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Servidores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [bigint] NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Tipo] [int] NULL,
	[Ambiente] [int] NULL,
	[SistemaOperativo] [nvarchar](100) NULL,
	[IP] [nvarchar](45) NULL,
	[Estado] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[CreadoPor] [int] NOT NULL,
	[ActualizadoPor] [int] NULL,
	[EstadoRegistro] [int] NULL,
 CONSTRAINT [PK_Servidores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sistema].[SistemaModulo]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[SistemaModulo](
	[SistemaModuloId] [bigint] IDENTITY(1,1) NOT NULL,
	[SistemaId] [bigint] NOT NULL,
	[NombreModulo] [varchar](200) NOT NULL,
	[FuncionModulo] [varchar](500) NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_SistemaModulo] PRIMARY KEY CLUSTERED 
(
	[SistemaModuloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sistema].[Sistemas]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[Sistemas](
	[SistemaId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [bigint] NOT NULL,
	[TieneGobernanzaPropia] [bit] NOT NULL,
	[CodigoSistema] [varchar](50) NULL,
	[NombreSistema] [varchar](200) NOT NULL,
	[FuncionPrincipal] [varchar](500) NULL,
	[SistemaDepende] [bigint] NULL,
	[TipoSistemaId] [bigint] NOT NULL,
	[FamiliaSistemaId] [bigint] NOT NULL,
	[Version] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[CreadoPor] [bigint] NOT NULL,
	[FechaCreacion] [datetime2](3) NOT NULL,
	[ActualizadoPor] [bigint] NULL,
	[FechaActualizacion] [datetime2](3) NULL,
	[RegistroEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Sistema] PRIMARY KEY CLUSTERED 
(
	[SistemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Sistema_Codigo_Org] UNIQUE NONCLUSTERED 
(
	[OrganizacionId] ASC,
	[CodigoSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sistema].[SistemaServidor]    Script Date: 2/11/2025 12:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistema].[SistemaServidor](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SistemaId] [bigint] NOT NULL,
	[ServidorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_SistemaServidor] UNIQUE NONCLUSTERED 
(
	[SistemaId] ASC,
	[ServidorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
